# Ignore files and folders that do not belong in the repository

# Intellij IDE
.idea

# npm packages
node_modules
.eslintrc.js

#Compressed files
*_compressed*.js

# Webpack targets
build
dist

# MacOS files
.DS_Store
/webpack.stats.json

# Environment variables
.env.*

# Library files for IDE autocomplete assistance
/lib

.cache

# SASS outputs
src/scss/*.css
src/scss/*.map
