/*
 *   TERMS OF USE: MIT License
 *
 *   Permission is hereby granted, free of charge, to any person obtaining a
 *   copy of this software and associated documentation files (the "Software"),
 *   to deal in the Software without restriction, including without limitation
 *   the rights to use, copy, modify, merge, publish, distribute, sublicense,
 *   and/or sell copies of the Software, and to permit persons to whom the
 *   Software is furnished to do so, subject to the following conditions:
 *
 *   The above copyright notice and this permission notice shall be included in
 *   all copies or substantial portions of the Software.
 *
 *   THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 *   IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 *   FITNESS FOR A PARTICULAR PURPOSE AND NONINFINGEMENT. IN NO EVENT SHALL
 *   THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 *   LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *   FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
 *   DEALINGS IN THE SOFTWARE.
 */


.clients .client {
    display: none;
    border-radius: 6px;
    padding: 5px 0 5px 14px;
    background: #f5f5f5;
    margin-bottom: 15px
}

.clients .client-instructions {
    display: none;
}

.clients .client img {
    display: inline;
    height: 32px;
    width: 32px;
}

body.all-clients .clients .client, 
body.all-clients .clients .client-instructions,
body.unknown-client .clients .client,
body.unknown-client .clients .client-instructions {
    display: block;
}

body.Windows .clients .client.Windows, 
body.Windows .clients .client-instructions.Windows {
    display: block;
}

body.MacOS .clients .client.MacOS, 
body.MacOS .clients .client-instructions.MacOS {
    display: block;
}

body.ChromeOS .clients .client.ChromeOS, 
body.ChromeOS .clients .client-instructions.ChromeOS {
    display: block;
}

body.Linux .clients .client.Linux, 
body.Linux .clients .client-instructions.Linux {
    display: block;
}

body.all-clients .show-all, 
body.unkown-client .show-all {
    display: none;
}