/*
 *   TERMS OF USE: MIT License
 *
 *   Permission is hereby granted, free of charge, to any person obtaining a
 *   copy of this software and associated documentation files (the "Software"),
 *   to deal in the Software without restriction, including without limitation
 *   the rights to use, copy, modify, merge, publish, distribute, sublicense,
 *   and/or sell copies of the Software, and to permit persons to whom the
 *   Software is furnished to do so, subject to the following conditions:
 *
 *   The above copyright notice and this permission notice shall be included in
 *   all copies or substantial portions of the Software.
 *
 *   THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 *   IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 *   FITNESS FOR A PARTICULAR PURPOSE AND NONINFINGEMENT. IN NO EVENT SHALL
 *   THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 *   LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *   FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
 *   DEALINGS IN THE SOFTWARE.
 */


/* open-sans-regular - latin */
/*
@font-face {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 400;
  src: url('/blockly/cdn/fonts/ubuntu-v11-latin-ext_latin-regular.ttf');
  src: url('/blockly/cdn/fonts/ubuntu-v11-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'),
       url('/blockly/cdn/fonts/ubuntu-v11-latin-ext_latin-regular.woff2') format('woff2'),
       url('/blockly/cdn/fonts/ubuntu-v11-latin-ext_latin-regular.woff') format('woff'),
       url('/blockly/cdn/fonts/ubuntu-v11-latin-ext_latin-regular.ttf') format('truetype'),
       url('/blockly/cdn/fonts/ubuntu-v11-latin-ext_latin-regular.svg#Ubuntu') format('svg');
}
*/

html, body {
    background-color: white;
    font-family: Arimo, sans-serif;
    margin: 0;
    padding:0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#content {
  flex-grow: 1;
}


.blocklyWidgetDiv .goog-menuitem-content, .blocklyContextMenu, .blocklyDropdownMenu {
    font: normal 14px Arimo, sans-serif !important;
    max-height: 110% !important;
}


/* Solo-50 Keep mouse pointer from changing to an i-bar */
.dropdown-menu>li>a {
    cursor: pointer;
}


/* Style form validation error message */
.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding:1px 20px 1px 20px;
}


.field_code {
    background-color: #fff;
    height: 200px;
    width: 350px;
    border-top: 2px solid rgba(128, 134, 140, 0.7);
    border-left: 2px solid rgba(128, 134, 140, 0.7);
    border-right: 2px solid rgba(104, 110, 116, 0.7);
    border-bottom: 2px solid rgba(104, 110, 116, 0.7);
}

.blocklyMinimalBody {
    height: 64px;
}

h1 {
    font-weight: normal;
    font-size: 140%;
}

pre,
#content_xml,
#content_spin,
#content_propc {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-top-style: none;
    overflow: hidden;
    display: none;
    position: absolute;
}
#textarea_xml,
#textarea_spin,
#textarea_propc,
#code-xml,
#code-spin,
#code-propc{
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
}

iframe {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-top-style: none;
}
button {
    padding: 1px 1em;
    font-size: 90%;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #eee;
    color: black;
}
button.launch {
    border: 1px solid #d43;
    background-color: #d43;
    color: white;
}
button:active {
    border: 1px solid blue !important;
}
button:hover {
    box-shadow: 2px 2px 5px #888;
}

.console, .terminal {
    margin-bottom: 20px;
    margin-right: 10px;
}

.prop-term {
    background: black;
    font-size: 13px;
    font-family: Andale Mono, Droid Sans Mono, Consolas, monospace;
    color: white;
    width: 575px;
    height: 380px;
    line-height: 110%;
    border: 2px solid black;
}

.connection-string {
    color: #bbb;
    font-size: 11px;
    overflow: hidden;
    margin-bottom: 5px;
}

#console-dialog .modal-dialog {
    /* new custom width */
    width: 610px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    /* margin-left: -305px; */
}

.navbar {
    margin-bottom: 0;
}

.not_available {
    color: #a94442 !important;
}

.available {
    color: #8a6d3b !important;
}

.space_left {
    margin-left: 10px;
}

.space_right {
    margin-right: 10px;
}

#nav-logo {
    background-image: url('images/logo_small.png');
    background-repeat: no-repeat;
    background-size: 50px 50px;
    padding-left: 55px;
    margin-left: 5px;
    margin-top: 5px;
    height: 50px;
    font-size: 22px;
    line-height: 25px;
    display: inline;
    float: left;
}

#nav-title {
    color: #BCD0E4;
    height: 50px;
    font-size: 25px;
    position: absolute;
}

#nav-title > span.project-name {
    margin-left: 15px;
}

a#nav-logo:hover, a#nav-logo:active {
    text-decoration: none;
}

#navbar-left {
    padding-left: 46px;
}

nav .nav > li > a {
    padding: 27px 15px 3px 15px;
}

nav .nav > li > a:first-child {
    padding-left: 0;
}

ul > hr {
    line-height: 5px; 
    margin: 5px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover, .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
}

/* New Nav Scheme */

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 14px;
    line-height: 1.3;
    border-radius: 15px;
}

.btn-circle:hover {
    box-shadow: 2px 2px 5px #89a;
}

/* Editor toolbar New, Open, and Save buttons */
.btn-view-blocks:hover {
    box-shadow: 2px 2px 5px #89a;
    color: #fff;
    text-decoration: none;
    background-color: #286090;
    border-color: rgb(32, 77, 116);
}

.btn-view-code:hover {
    box-shadow: 2px 2px 5px #89a;
    color: #333;
    text-decoration: none;
    background-color: #eee;
    border-color: #adadad;
}

.btn-view-blocks {
    padding:5px 10px 5px 10px; 
    font-size: 12px;
    line-height: 1.5;
    color: #fff;
    background-color: #337ab7;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #2e6da4;
    border-radius: 4px;
    text-decoration: none;
}

.btn-find-replace {
    height: 19px; 
    padding: 0px 3px 1px 3px;
}

.input-find-replace {
    display: inline; 
    font-size: 14px; 
    line-height: 20px; 
    padding: 1px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.0);
}

.btn-view-code {
    padding:5px 10px 5px 10px; 
    font-size: 12px;
    line-height: 1.5;
    color: #333;
    background-color: white;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
}

#comPort {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    color: #333;
    line-height: 18px;
    padding: 5px 20px 5px 8px;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%228%22%20height%3D%224%22%3E%3Cpath%20fill%3D%22rgb%2851%2C%2051%2C%2051%29%22%20d%3D%22M0%2C0%208%2C0%204%2C4%20z%22%20stroke%3D%22none%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right 7px top 50%, 0 0;
    background-size: 8px auto, 100%;
}

#comPort::-ms-expand {
    display: none;
}

#comPort:hover {
    background-color: #eee;
    border-color: #adadad;
    box-shadow: 2px 2px 5px #89a;
}

#comPort:focus {
    border-color: #adadad;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}

.example-propc-code {
    color: #000;
    background-color: #fff;
    border: 1px #999 solid;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    font-weight: bold;
}

.alert-neutral {
    color: #535353;
    background-color: #eee;
    border-color: #e0e0e0;
}
/*target Internet Explorer 9 and Internet Explorer 10:*/

.indent-left {
    padding-left: 15px;
}

.indent-left-double {
    padding-left: 30px;
}

.margin-left-double {
    margin-left: 30px;
}

/*
@media screen and (min-width: 0\0) {
    select {
        background: none;
        padding: 5px;
    }
}
*/

#options-menu:hover {
    background-color: #eee;
}

.project-name-wrapper {
    font-size: 20px;
    line-height: 25px;
    color: #337ab7;
    text-decoration: none;
    float:right;
    padding-right: 10px;
}

.project-name {
    max-width: 250px;
    text-overflow: clip;
    overflow: hidden;
    overflow-wrap: normal;
    white-space: nowrap;
    text-align: left;
}

.project-name:focus {
    outline: none;
}

.project-name-editable {
    border: 1px solid #2b669a;
    border-radius: 5px;
    padding: 0px 5px;
    background-color: white;
}

.project-icon {
    float: left; 
    padding-right: 5px
}

.bp-client-available {
    background:none;
    border:1px solid rgba(0, 0, 0, 0);
    border-radius:4px;
    box-sizing:border-box;
    color:#333 !important;
    display:inline;
    font-size:14px;
    height:auto;
    line-height:20px;
    padding: 4px 4px 4px 0px;
    text-decoration:none;
    text-size-adjust:100%;
    width:auto;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.client-searching-link {
    color:#8a6d3b !important; 
}

.bp-client-warning {
    background-color:#fcf8e3;
    border:1px solid rgb(250, 235, 204);
    border-radius:4px;
    box-sizing:border-box;
    color:#8a6d3b !important;
    display:inline;
    font-size:14px;
    height:auto;
    line-height:20px;
    padding:4px;
    text-decoration:none;
    text-size-adjust:100%;
    width:auto;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.client-unavailable-link {
    color:rgb(169, 68, 66) !important;   
}

.bp-client-danger {
    background-color:#f2dede;
    border:1px solid rgb(235, 204, 209);
    border-radius:4px;
    box-sizing:border-box;
    color:rgb(169, 68, 66) !important;
    display:inline;
    font-size:14px;
    height:auto;
    line-height:20px;
    padding:4px;
    text-decoration:none;
    text-size-adjust:100%;
    width:auto;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.xterm-rows {
    overflow-x: scroll;
}

/* Markdown editor */
.CodeMirror, .CodeMirror-scroll {
    min-height: 150px !important;
    height: 150px;
}

.CodeMirror-fullscreen .CodeMirror, .CodeMirror-fullscreen .CodeMirror-scroll {
    max-height: none;
}

div#project div.wizard-container {
    padding-top: 70px;
}

.description-html {
    padding: 10px;
    margin: 10px;
    background-color: #f5f5f5;
}

/* Graphing Output */
.ct-line {
    stroke-width: 1px;
}

.ct-point {
    stroke-width: 5px;
}

.ct-series-a .ct-line {
    stroke: #00f !important;
}

.ct-series-b .ct-line {
    stroke: #0bb !important;
}

.ct-series-c .ct-line {
    stroke: #0d0 !important;
}

.ct-series-d .ct-line {
    stroke: #dd0 !important;
}

.ct-series-e .ct-line {
    stroke: #f90 !important;
}

.ct-series-f .ct-line {
    stroke: #f00 !important;
}

.ct-series-g .ct-line {
    stroke: #d09 !important;
}

.ct-series-h .ct-line {
    stroke: #90d !important;
}

.ct-series-i .ct-line {
    stroke: #777 !important;
}

.ct-series-j .ct-line {
    stroke: #000 !important;
}

.ct-marker-1 {
    fill: #00f !important;
}

.ct-marker-2 {
    fill: #0bb !important;
}

.ct-marker-3 {
    fill: #0d0 !important;
}

.ct-marker-4 {
    fill: #dd0 !important;
}

.ct-marker-5 {
    fill: #f90 !important;
}

.ct-marker-6 {
    fill: #f00 !important;
}

.ct-marker-7 {
    fill: #d09 !important;
}

.ct-marker-8 {
    fill: #90d !important;
}

.ct-marker-9 {
    fill: #777 !important;
}

.ct-marker-10 {
    fill: #000 !important;
}