name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v2
        name: Use Node.js ${{ matrix.node-version }}

      - run: sudo apt-get update -y
        name: Install package node-pre-gyp
        shell: bash

      - run: sudo apt-get install -y node-pre-gyp
        shell: bash
      - run: npm cache clean -f; npm install -g n; n stable; npm install --unsafe-perm=true --allow-root
        shell: bash

      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
        name: Setup node
      - run: npm ci
      - run: npm run build --if-present
      - run: npm test
